body
{
  text-align:center;
  background: linear-gradient( #4287f5 0%,#4bf542 100%); 
 font-size:20px; 
  }
h1{
 text-shadow: 2px 2px #fd1d1d;   
 font-size:40px;
}
h2{
color: chartreuse;
font-size: 30px

}
#bio{
padding:20px;
 font-size:18;
 
  
}
img{
 border-radius:50%;
}
#welcome{
padding: 70px;
text-align: center;

}
.line{
height: 6px;
background-color: blueviolet;
margin: 8px auto;
width:70px;
}
.link{
color: forestgreen;
display:inline;
padding-top:5px;
padding-left: 9px;
padding-right: 9px;
padding-bottom: 5px;
}
.link:hover{
background-color: greenyellow;

}
.menu{
 list-style: none;
font-family:cursive;
float:right;
top:10px;
right: 30px;
cursor:pointer
color:black;

    
}